<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body class="p-5 m-5">
  <div class="container">
      <div class="d-flex justify-content-center pt-10">
          <br/>
          <h1>Chatroom</h1>
          <br/>
      </div>
      <div class="d-flex justify-content-center pt-10">
              <form class="form-signin" method="POST" th:action="@{/login}">
              <h4 class="form-heading">Log in</h4>

              <div class="form-group">
                  <label>
                      <input name="username" type="text" class="form-control" placeholder="Username"
                             autofocus="true" required/>
                  </label>

                  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                  <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
              </div>
          </form>
      </div>
  </div>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</body>
</html>