.container {
  margin-top: 20px;
}

.title {
  background-color: lightblue;
}

.image {
  width: 100%;
}

table,
th,
td {
  width: 100%;
  border: 1px solid black;
}

table {
  margin-top: 20px;
}

td,
th {
  text-align: center;
}
