.container {
  margin-top: 20px;
  margin-bottom: 50px;
}

.title-area {
  background-color: lightblue;
}

.title {
  text-align: center;
  padding: 20px;
}

.image {
  width: 100%;
}

table {
  margin-top: 20px;
}

/* tbody {
  width: 100%;
} */

td,
th {
  text-align: center;
}

.content-grid {
  width: 100%;
}

.sub-header {
  color: blue;
}
